/*div.mask {
    position:           absolute;
    z-index:            99999;
    top:                0;
    left:               0;
    width:              100%;
    height:             100%;
    background-color:   rgba(179, 179, 179, 0.26);
}  */
div.mask {
    z-index:            9999999999999999999999999999;
    position: fixed;
  	left: 0px;
  	top: 0px;
  	width: 100%;
  	height: 100%;
    background-color:   rgba(158, 154, 154, 0.26);
}
